$--colors: ();

@forward 'element-plus/theme-chalk/src/dark/var.scss' with (
  $colors: $--colors
);
html.dark {
  // 头部颜色
  --base-column-header-color: rgb(0 0 0/0.75);
  --base-header-box-hover: rgba(255, 255, 255, 0.06);
  // 头部滤镜
  --base-header-filter: radial-gradient(transparent 1px, var(--bg-color) 1px);
  //tag border
  --base-tag-border: #4f4f4f;
  //tag shadow
  --base-tag-shadow: rgb(0 21 41 / 8%);
  //menu背景颜色
  --el-menu-bg-color: #181717 !important;
  //submenu 背景颜色
  --el-submenu-bg-color: #101010 !important;
  // menu 文字颜色
  --el-menu-text-color: hsla(0, 0%, 100%, 0.65) !important;
  // menu hover 背景颜色
  --el-menu-hover-bg-color: #303030 !important;
  //menu active文字颜色
  --el-menu-active-color: #fff !important;
  //系统主体背景颜色
  --base-main-bg-color: #000;
  //系统主体 内容颜色
  --base-main-content-bg-color: #1d1e1f;
  // tag border
  --base-tag-border-color: #131313;
  // tag color
  --base-tag-color: #409eff;
  //tag shadow
  --base-tag-shadow: rgb(0 21 41 / 8%);
  // 滚动条颜色
  --base-scrollbar-thumb: rgba(255, 255, 255, 0.3);
}
