html {
  .el-menu {
    border: none;
  }
  .el-sub-menu__title {
    padding-right: 0;
  }
  // 菜单
  .el-menu {
    .el-menu-item {
      .base-icon {
        color: var(--el-menu-text-color) !important;
      }
    }
    .el-sub-menu .el-sub-menu__title {
      color: var(--el-menu-text-color) !important;
      .base-icon {
        color: var(--el-menu-text-color) !important;
      }
    }
    .el-sub-menu__title:hover,
    .el-menu-item:hover {
      color: var(--el-menu-active-color) !important;
      .base-icon {
        color: var(--el-menu-active-color) !important;
      }
    }
    .el-menu-item.is-active {
      .base-icon {
        color: var(--el-menu-active-color) !important;
      }
    }
    .el-sub-menu.is-active .el-sub-menu__title {
      color: var(--el-menu-active-color) !important;
      .base-icon {
        color: var(--el-menu-active-color) !important;
      }
    }
  }
  // 面包屑
  .el-breadcrumb__item {
    display: inline-flex;
    float: none;
  }
  // 第一个面包屑
  .el-breadcrumb__item:first-child:not(:last-child) .el-breadcrumb__inner {
    padding-left: 12px;
    border-radius: 6px 0 0 6px;
    clip-path: polygon(
      0 0,
      calc(100% - 8px) 0,
      100% 50%,
      calc(100% - 8px) 100%,
      0 100%
    );
    background-color: var(--el-fill-color);
  }
  // 最后一个面包屑
  .el-breadcrumb__item:last-child:not(:first-child) .el-breadcrumb__inner {
    background-color: var(--el-fill-color-darker);
    padding-right: 12px;
    border-radius: 0 6px 6px 0;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 8px 50%);
  }
  // 其余面包屑
  .el-breadcrumb__item .el-breadcrumb__inner {
    transition: background-color 0.3s, var(--el-transition-color);
    background-color: var(--el-fill-color);
    padding-left: 12px;
    padding: 8px 16px;
    clip-path: polygon(
      0 0,
      calc(100% - 8px) 0,
      100% 50%,
      calc(100% - 8px) 100%,
      0 100%,
      8px 50%
    );
  }
  .el-breadcrumb__separator {
    display: none;
  }
}
